{
	auto_https off
	order cgi last
}

http:// {
	handle /ecowitt-weather {
		cgi * /usr/local/cgi-bin/ecowitt-handler {
			dir /tmp/cgi-scratch
			pass_env PGHOST PGUSER PGPASSWORD PGDATABASE PGPORT HOME GEM_HOME
		}
	}
	handle {
		respond 403
	}
}
